@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.App {
  background-color: #ffdbab;
  font-family: 'Dosis', sans-serif;
  min-height: 100vh;
  text-align: -webkit-center;
  width: 100vw;
  cursor: url('./data/cursor.cur'), pointer;
}

.App-header {
  background-color: #ffdbab;
  background-image: url("./data/title.png");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 5px -2px black;
  font-size: calc(10px + 2vmin);
  min-height: 20vh;
  position: fixed;
  width: 100%;
}

.Content {
  display: flex;
  font-size: 60px;
  height: 100%;
  justify-content: space-evenly;
  padding-top: 175px;
  width: 60vw;
}