h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    margin: 0px;
}

input {
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    height: 60px;
    margin-bottom: 15px;
    width: 90%;
}

.itemEntry, .characterEntry {
    text-transform: capitalize;
}

.Character {
    max-width: 50%;
}

.Item {
    max-width: 50%;
}

.CharacterResultsContainer {
    display: inline;
    width: 300px;
    margin: 0 0 50px 0;
}

.characterEntry {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 128px;
    font-size: 35px;
    padding: 10px 10px 0px 10px;
    margin: 10px;
    min-width: 310px;
}

.characterEntry .preferenceEmoji {
    align-self: center;
    margin-left: auto;
}

.characterName {
    align-self: center;
}

.itemEntry {
    align-items: center;
    background-color: white;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    height: 45px;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
}

.checkLovesButton, .itemEntry {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.checkLovesButton {
    background-color: #853605;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#ResultLimitationsMessage {
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    .characterEntry {
        font-size: 25px;
        min-width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    input {
        font-size: 25px;
        width: 80%
    }
    .characterEntry {
        font-size: 15px;
        height: 60px;
        margin: 5px 0 5px 0;
        min-width: 50%;
    }
    .characterPortrait {
        height: 60px;
        width: 60px;
    }
    .itemEntry {
        font-size: 15px;
    }
    .checkLovesButton {
        font-size: 13px;
    }
}