h1 {
    font-size: 40px;
}

input {
    font-size: 50px;
    height: 60px;
    margin-bottom: 15px;
    width: 300px;
}

.itemEntry, .characterEntry {
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
}